/.cache/
*~
/config.el
/elpa/
/transient/
/pyim/
/history
/places
/recentf
/url/
/tldr/
/bookmarks
/projects
/tramp
/eln-cache/
/session.246231d0f-f57e-4957-b5d5-3edb1584e319
/tree-sitter-module/
/tree-sitter/
/session*
/.org-id-locations
/.cask/
/racket-mode/
