[submodule "site-lisp/page-break-lines"]
	path = site-lisp/page-break-lines
	url = git@github.com:purcell/page-break-lines.git
[submodule "site-lisp/auto-save"]
	path = site-lisp/auto-save
	url = git@github.com:manateelazycat/auto-save.git
[submodule "site-lisp/org-modern-indent"]
	path = site-lisp/org-modern-indent
	url = git@github.com:jdtsmith/org-modern-indent.git
[submodule "site-lisp/pyim-tsinghua-dict"]
	path = site-lisp/pyim-tsinghua-dict
	url = git@github.com:redguardtoo/pyim-tsinghua-dict.git
[submodule "site-lisp/thought-manage"]
	path = site-lisp/thought-manage
	url = git@github.com:tu10ng/thought-manage.git
[submodule "site-lisp/rainbow-cursor"]
	path = site-lisp/rainbow-cursor
	url = git@github.com:tu10ng/rainbow-cursor.git
